.list-group-item.active {
	background-color: #c7dabf;
	color: black;
	border: #60893c solid 2px;
	
}

.nav-pills .nav-link.active {
    background-color: #eaeaea;
    border: #dcdcdc solid 2px;
}
.Select--multi .Select-value {
  background-color: white;
  border: 2px solid #d5d5d5;
  color: black;
}
.Select--multi .Select-value-icon{
    border-right: 2px solid #d5d5d5;
}
.Select.is-focused:not(.is-open) > .Select-control {
  border-color: #999;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(0, 126, 255, 0.1);
  background: #fff;
}

.rc-slider-track {
  background-color: #60893c;
}
.rc-slider-rail{
  background-color: #c7dabf
}
.rc-slider-handle {
border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #60893c;
    border-right-color: #60893c;
    border-bottom-color: #60893c;
    border-left-color: #60893c;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}
.rc-slider-dot-active {  
  border: solid 2px #60893c;
}
.rc-slider-handle-click-focused:focus {  
  background-color: #93ba70;
  border: solid 2px #60893c;
}
.rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging {
  border-color: #60893c;
  box-shadow: 0 0 0 5px #c7dabf;
}

*[class="output-loading"][data-dash-is-loading="true"]{
    visibility: hidden;
}
*[class="output-loading"][data-dash-is-loading="true"]::before{
    content: "Constructing PDF Report...  ";
    display: inline-block;
    color: black;
    visibility: visible;
}